<!-- Additional SEO meta tags -->
<meta name="keywords" content="3d resources, blender, houdini, cinema 4d, maya, zbrush, unreal engine, free 3d models, textures, hdri, pbr materials, vfx tutorials, 3d animation, game assets, render engines, motion graphics, digital art, 3d learning, substance painter, free assets, 3d software">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">

<!-- Schema.org structured data -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": "{{ site.title }}",
  "description": "{{ site.description }}",
  "url": "{{ site.url }}{{ site.baseurl }}/",
  "author": {
    "@type": "Person",
    "name": "{{ site.author.name }}",
    "url": "{{ site.author.url }}"
  },
  "about": [
    {"@type": "Thing", "name": "3D Modeling"},
    {"@type": "Thing", "name": "Visual Effects"},
    {"@type": "Thing", "name": "Animation"},
    {"@type": "Thing", "name": "Game Development"},
    {"@type": "Thing", "name": "Digital Art"},
    {"@type": "Thing", "name": "Rendering"},
    {"@type": "Thing", "name": "Motion Graphics"}
  ],
  "inLanguage": "en",
  "isAccessibleForFree": true
}
</script>
